# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# etc
#*.vcxproj
#*.filters
#*.user

#folders

.vs
#*.sln
x64
Debug
Release
2D-Warfare\Debug
2D-Warfare\Release
2D-Warfare\x64
x64




2D-Warfare/2D-Warfare.vcxproj
2D-Warfare/2D-Warfare.vcxproj.filters
